{% block stylesheets %}

{% endblock %}
{% block title %}Agency List{% endblock %}

{% block body %}
<style>
    li {
    background: red;
    }
    .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <link type="text/css" rel="stylesheet" {{ asset('/styles/index.css') }}>
    <h1>Here's the agency list!</h1>
    <ul>
        {% for agency in agencyRepo %}
        <li> <a href="{{ path('agency_show',{'id':agency.id})}}">{{ agency.name}} </li>
        {% endfor %}
    </ul>


</div>
{% endblock %}
